<!DOCTYPE html>
<form action="/addCourse" method="POST" enctype="multipart/form-data">
    
    <input type="text" id="courseName" name="courseName" >
    <input type="number" id="courseLevel" name="courseLevel" >
    <input type="number" id="coursePrice" name="coursePrice" >
    <input type="text" id="courseDescription" name="courseDescription" >

    <input type="file" name="image" />
    <button type="submit">Upload</button>
</form>